div#cases, div#deaths,
div#cases_percapita, div#deaths_percapita {
  width: 100%;
  height: 450px;
}

#cases {
}

#deaths {
}

#state_selector {
  max-width: 50em;
  min-width: 25em;
}

.selection li {
  color: black;
}

.navbar label {
  color: white;
}